.content {
  padding: 30px;
  background: var(--secondary);
  border-radius: 4px;

  .empty__cart {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      font-size: 260px;
      color: #f2f2f3;
      position: absolute;
    }

    div {
      z-index: 1;
      text-align: center;

      h2 {
        font-size: 56px;
      }
      
      p {
        margin: 12px 0 28px;
        font-size: 16px;
      }

      a {
        text-decoration: none;
        background: var(--primary);
        padding: 12px 16px;
        border-radius: 2px;
        transition: opacity 0.2s;
        
        span {
          color: var(--secondary);  
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  table {
    width: 100%;

    thead th {
      color: var(--primary);
      text-align: left;
      padding: 12px;
    }

    tbody td {
      padding: 12px;
      border-bottom: 1px solid #eee;
    }

    img {
      height: 100px;
    }

    strong {
      color: var(--terciary);
      display: block;
    }

    span {
      display: block;
      margin-top: 5px;
      font-size: 18px;
      font-weight: bold;
      color: var(--terciary);
    }

    div {
      display: flex;
      align-items: center;
      
      input {
        border: 1px solid #dddddd;
        border-radius: 4px;
        color: #666666;
        padding: 6px;
        width: 50px;
      }
    }
    
    button {
      background: none;
      border: 0;
      padding: 6px;

      svg {
        color: var(--primary);
        transition: color 0.2s;
      }

      &:hover {
        svg {
          opacity: 0.7; 
        }
      }

      &:disabled {
        svg {
          opacity: 0.4;
          cursor: not-allowed; 
        }
      }
    }
  }

  footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: var(--primary);
      color: var(--secondary);
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      font-weight: bold;
      text-transform: uppercase;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    div {
      display: flex;
      align-items: baseline;

      span {
        color: var(--primary);
        font-weight: bold;
      }

      strong {
        font-size: 28px;
        margin-left: 5px;
        color: var(--terciary);
      }
    }
  }
}