:root {
  --primary: #040507;
  --secondary: #f7fafc;
  --terciary: #21D4FD;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: var(--primary);
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1024px;
  height: 100%;
}